<!doctype html>
<html lang="en">
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,600,700" rel="stylesheet">
		<!-- Latest compiled and minified JavaScript & jQuery-->
		<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

	</head>
	<body>
		<a href="/"><div class="header-brand"></div></a>
		<div>
			{{{ body }}}
		</div>
	</body>
</html>